/* Universal changes */
* {
    padding: 0;
    margin: 0;
}
/* Added bg color to body */
body {
    background-color: #d9dcd6;
    margin: 0px;
    padding: 0px;
}


header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(55, 69, 80); 
}

img {
    border: turquoise solid 5px;
}

ul {
    flex-wrap: wrap;
    padding: 0 70px;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: turquoise;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 3px 0 ;
    background-color: rgb(55, 69, 80);
}

li {
    margin: 5px;
    border-bottom: 3px turquoise solid;
    padding:0 5px 0;
}

h1 {
    position: relative;
    padding: 2px 80px 5px;
    font-size:40px;
    color: rgb(55, 69, 80)
}

h2 {
    padding: 5px 0 0 0;
    bottom: 20px;
    font-size:26px;
    color: rgb(55, 69, 80);
}

p {
    padding: 0 100px 0 50px;
    text-align: left;
    font-size: 14px;
}
.subtitle {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.subtitleImg{
    width: 100%;
    height: 200px;
}

.aboutMe {
    display: flex;
    font-size: 32px;
    margin-top: 40px;
}

.bigImg {
    position: relative;
    width: 95%;
    padding: 0 0 20px 0;
}


.contactMe {
    display: flex;
    margin: 40px 0 40px;
    font-size: 32px;
}

.contactLink {
    margin: 40px;
    border-bottom: 5px rgb(68, 91, 134) solid;
    padding: 0 10px 5px 10px;
    font-weight:bold;
    font-size: 18px;
    color: black;
}

.work {
    font-size: 32px;
    display: flex;
    margin-top: 40px;  
}


.smallProjects {
    padding: 5px 35px;
    display: flex;

}

.smallCard {
    display: flex;
}

.smallImg {
    position: relative;
    width: 720px;
    height: 150px;
    padding: 0 15px 15px 8px;
}

.art1 {
    font-size: 14px;
    bottom: 60px;
    position: absolute;
    left: 15px;
    color: rgb(55, 69, 80);
}

.art2 {
    font-size: 14px;
    bottom: 60px;
    position: absolute;
    left: 15px;
    color: rgb(55, 69, 80);
}

.box1 {
    padding: 0 34px;
    width: 13.5%;
    height: 4.5%;
    top: 5px;
    position: absolute;
	background-color: turquoise; 
}

.box2 {
    width: 8%;
    height: 17%;
    bottom: 30px;
    position: absolute;
    text-align: center;
    margin-right: 80px;
	background-color: turquoise; 
}

.box3 {
    width: 9%;
    height: 10.5%;
    bottom: 50px;
    position: absolute;
    padding: 0 0 0 50px;
	background-color: turquoise; 
}

.box4 {
    width: 32%;
    height: 45%;
    bottom: 50px;
    position: absolute;
    padding: 0 0 0 50px;
	background-color: turquoise; 
}

.box5 {
    width: 26%;
    height: 45%;
    bottom: 50px;
    position: absolute;
    padding: 0 0 0 50px;
	background-color: turquoise; 
}

.box6 {
    width: 30%;
    height: 45%;
    bottom: 50px;
    position: absolute;
    padding: 0 0 0 50px;
	background-color: turquoise; 
}

.box7 {
    width: 8%;
    height: 45%;
    bottom: 50px;
    position: absolute;
    padding: 0 0 0 50px;
	background-color: turquoise; 
}

.bigsubtitleCard{
    position: absolute;
    text-align: center;
    color: rgb(55, 69, 80);
    bottom: 80px;
    left: 15px;
}

.smallsubtitleCard {
    position: absolute;
    text-align: center;
    color: rgb(55, 69, 80);
    top: 30%;
    left: 15px;
}

.bigCard {
    display: flex;
    padding: 0 12px 0 4px;
    justify-content: center;
}

.sectionContent {
    flex: 0 0 80%;
    flex-wrap: wrap;
}

.sectioncontentFooter {
    margin: 20px;
    padding: 0 0 0 230px;
}

.sectionTitle {
    text-align: right;
    padding-right: 20px;
    color: rgb(68, 91, 134);
    border-right: rgb(68, 91, 134) solid 5px;
    flex: 0 0 15%;
}

/* Media Queries */
/* Laptop */
@media screen and (max-width: 1024px) and (min-width:768px){
    nav
    {
        padding: 30px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) and (min-width:580px){

}

/* larger smartphones */
@media screen and (max-width: 580px)and (min-width: 480px){
   
}

/* Smaller smartphones */
@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
        padding: 0;
    }
    
    li{
        margin: 0 2px 5px;
        border-bottom: 1px turquoise solid;
    }
    a{
        font-size: 10px;
    }

    .smallImg{
        padding: 0 42px 20px 32px;
        height: 100px;
    }
    .bigImg{
        padding: 20px;
        margin: 0 10px 0 8px;
        width: 430px;
        height: 100px;

    }
    .subtitleImg{
        width: 576px;
        height: 288px;
    }
    p{
        padding: 20px 30px 0 30px;
    }
    .box1{
        top: 0;
        text-align: center;
        width: 576px;
        height: 50px;
    }
    .box2{
        font-size: 18px;
        top: 57%;
        width: 100px;
        height: 26px;
        margin: 0 30px;
    }
    .box3{
   
    }
   
    .box4{

    }
    .box5{
     
    }
    .box6{
       
    }
    .box7{
  
    }
    .sectionTitle{
        display: flex;
        justify-content: start;
        border-right: none;
        padding: 0;
        margin: 20px 30px 0;
        border-bottom: rgb(68, 91, 134) solid 2px;
    }
    .contactMe {
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .contactLink{
        margin: 0 0 0 15px;
        padding: 0;
        font-size: 12px;
        border-bottom: rgb(68, 91, 134) solid 2px;
    }
    .aboutMe{
        display: block;
        margin: 0px;
    }
    .work{
        display: block;
        padding: 0;
        margin: 0;
    }
    .smallProjects{
        display: block;
        padding: 0;
    }
    .sectioncontentFooter{
        padding: 0;
        margin: 0 20px 0 20px;
    }
}